.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

.header__section{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    column-gap: 20px;
    padding: 0px;
    margin: 0px;

}
.header__text{
    background-color: white;
    color: black;
    font-family: "Cabinet Grotesk";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 120% */
}
.header__add-button{
    border: 0px;
    
}
.header__text_margin_left{
    margin-left: 30px;
}

.header__section_margin_left{
    margin-left: 30px
}


@media only screen and (max-width: 677px) {
    /* what can i do to highlight the add button  */
}

@media only screen and (max-width: 570px) {
    .header__section{
        column-gap: 0px;
    }
    .header__profile-image{
        margin-left: 3px;
    }
}

@media only screen and (max-width: 506px) {
    /* return bifrocated css */
}

@media only screen and (max-width: 561px) {
    /* dont like the look of the date and location */
}










