.modal{
    /* width: 100vw; */
    height: 100vh;
    background-color: #0000004D; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2
}
.modal_close{
    visibility: hidden;
}
.modal__container{
    width: 498px;
    height: 580px;
    background-color: white;
    position: relative;
    border-radius: 10px;
}
.modal__sub-container{
    margin-top: 30px;
}
.modal__image{
    height: 438px;
    width: 100%;
    background-color: slateblue;
    border-radius: 10px;
}

.modal__close-button{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-image: url("../images/close-button.svg");
    background-position: center;
    background-repeat: none;
    background-size: cover;
    background-color: transparent;
    border: 0px;
}
.modal__text{
    text-align: left;
    margin: 0px;
    margin-left: 32px;
    margin-bottom: 12px;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    
}