.weather-modal{
    position: relative;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 20px;
}
.weather-card{
    max-width: 100%;
}
.weather-temp{
    position: absolute;
    left: 10px;
    top: 33%;
    color: white;
}