.footer{
    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    padding: 0px;
    padding-bottom: 24px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.footer__item{
    color: #000;
    text-align: right;
    font-family: "Cabinet Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}