.sidebar{
    width: 25%;
    height: 70px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 40px;
}

.sidebar__button{
    border:none;
    background-color: transparent;
    font-size: 20px;
    font-weight: 700;
    margin: 7px;
    cursor: pointer;
}

.sidebar__button_hidden{
    visibility: hidden;
}
