@import url('./blocks/Header.css');
@import url('./blocks/App.css');
@import url('./blocks/Footer.css');
@import url('./blocks/WeatherCard.css');
@import url('./blocks/ItemCard.css');
@import url('./blocks/Main.css');
@import url('./blocks/ModalWithForm.css');
@import url('./blocks/ItemModal.css');
@import url('./blocks/Profile.css');
@import url('./blocks/DeleteModal.css');
@import url('./blocks/SideBar.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  font-family: "Cabinet Grotesk";
}

@font-face {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 700;
  src: url("./cabinet-grotesk-cufonfonts/CabinetGrotesk-Regular.otf") format("opentype")
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
